ENVIRONMENT='dev'
APP_HOST=127.0.0.1
APP_PORT=3000
APP_PREFIX='/api/v1'

#MONGO_HOST=51.79.197.173
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
DB_NAME=NestJS
MONGO_USER=hduong25
MONGO_PASS=250202
MONGO_URI='mongodb://hduong25:250202@127.0.0.1:27017/NestJS'

#AdminJS
ADMINJS_USER='admin'
ADMINJS_PASSWORD='123123'
ADMINJS_ROOTPATH='/admin'
ADMINJS_COOKIE_NAME='adminjs'
ADMINJS_COOKIE_PASSWORD='secret'
ADMINJS_SESSION_OPTION_SECRET='secret'

#Logger
LOG_FILE_ENABLED='true'
MAX_FILES_LOG=14d
SIZE_LOG=20m
LOG_FILE_NAME='logs/log.log'

#LogStash
LOGSTASH_ENABLED='false'
LOGSTASH_HOST=51.79.197.173
LOGSTASH_PORT=50000
LOGSTASH_PROTOCOL=udp

#FluentBit
FLUENT_ENABLED='false'
FLUENT_HOST='51.79.197.173'
FLUENT_PORT=24224
FLUENT_PROTOCOL=port
FLUENT_PREFIX='hduong'

